<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>SB Admin 2 - Tables</title>
      <link rel="icon" href="favicon.ico" type="image/x-icon">
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
      <!-- Custom fonts for this template -->
      <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
      <link
         href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
      <!-- Custom styles for this page -->
      <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
      <!--<link href="{{ url_for('static', filename='css/select.bootstrap4.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/select.dataTables.css') }}" rel="stylesheet">-->
      {% block stylesheet %}
      {% endblock %}
      <style>
         .sidebar .nav-item .nav-link {
         padding: 10px 20px;
         }
      </style>
   </head>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
         <!-- Sidebar -->
         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
               <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
               </div>
               <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
               <a class="nav-link" href="/">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>Flights search</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
               CSV's
            </div>
            <li class="nav-item">
               <a class="nav-link" href="/flights_export_csv">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>Export ({{ count_buffer()}})</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/flights_csv_files">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>CSV Files</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/tasks/">
               <i class="fa fa-tasks"></i>
               <span>Tasks</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
               Settings
            </div>
            <li class="nav-item">
               <a class="nav-link" href="/destitations">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>Destinations</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/week_days">
               <i class="fas fa-fw fa-tachometer-alt"></i>
               <span>Hebrew Days of the week</span></a>
            </li>
         </ul>
         <!-- End of Sidebar -->
         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               <!-- Topbar -->
               <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <!-- Sidebar Toggle (Topbar) -->
                  <form class="form-inline">
                     <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                     <i class="fa fa-bars"></i>
                     </button>
                  </form>
                  <!-- Topbar Search -->
                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">
                     <div class="topbar-divider d-none d-sm-block"></div>
                     <!-- Nav Item - User Information -->
                     <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello</span>
                        <img class="img-profile rounded-circle"
                           src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                           aria-labelledby="userDropdown">
                           <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                           <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                           Logout
                           </a>
                        </div>
                     </li>
                  </ul>
               </nav>
               <div class="container-fluid">
                  {% with errors = get_flashed_messages(category_filter=["error"]) %}
                  {% if errors %}
                  <div class="alert alert-danger" role="alert">
                    <a class="close" href="#">×</a>
                    <ul>
                      {%- for msg in errors %}
                      <li>{{ msg }}</li>
                      {% endfor -%}
                    </ul>
                  </div>
                  {% endif %}
                  {% endwith %}

                  {% with success = get_flashed_messages(category_filter=["success"]) %}
                  {% if success %}
                  <div class="alert alert-success " role="alert">
                    <a class="close" href="#">×</a>
                    <ul>
                      {%- for msg in success %}
                        <li>{{ msg }}</li>
                      {% endfor -%}
                    </ul>
                  </div>
                  {% endif %}
                  {% endwith %}
                        {% block content %}
                        {% endblock %}
               </div>
               </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
               <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                     <span>Copyright &copy; Your Website 2020</span>
                  </div>
               </div>
            </footer>
            <!-- End of Footer -->
         </div>
         <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      {% block modal %}
      {% endblock %}
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
               <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="/logout">Logout</a>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript-->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      <!-- Core plugin JavaScript-->
      <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
      <!-- Custom scripts for all pages-->
      <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
      <!-- Page level plugins -->
      <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
      <!-- Page level custom scripts -->
      <!--<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>-->
      {% block jscript %}
      {% endblock %}
   </body>
</html>
