{% extends "base.html" %}
{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add new</h6>
   </div>
   <div class="card-body">
       <form action="/add_destination" method="post">
          <div class="form-group row">
             <div class="col-sm-4 mb-3 mb-sm-0">
                <label for="des_name">Name</label>
                <input type="text" class="form-control form-control-user" id="des_name" name="des_name">
             </div>
             <div class="col-sm-2">
                <label for="iata">IATA Code</label>
                <input type="text" class="form-control form-control-user" id="iata" name="iata">
             </div>
             <div class="col-sm-2">
                <button type='submit' class="btn btn-primary" style="margin-top: 31px;" id="submit" aria-expanded="false">Add</button>
             </div>
          </div>
       </form>
   </div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Destinations</h6>
   </div>
   <div class="col-lg-12">
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>IATA Code</th>
                  <th>v3 enable</th>
               </tr>
            </thead>
            <tbody></tbody>
         </table>
      </div>
   </div>
</div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
   <div class="container my-auto">
      <div class="copyright text-center my-auto">
         <span>Copyright &copy; Your Website 2020</span>
      </div>
   </div>
</footer>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
{% endblock %}
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Required confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            The entry will be permanently deleted. Are you sure ?
            <input type="hidden" name="agree" value="" />
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="confirmDeleteRecord">Yes</button>
         </div>
      </div>
   </div>
</div>
{% endblock %}

      {% block jscript %}
<script src="{{ url_for('static', filename='js/destinanion.js') }}"></script>
      {% endblock %}
