{% extends "base.html" %}
{% block stylesheet %}
<link href="{{ url_for('static', filename='vendor/date_picker/css/t-datepicker.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/date_picker/css/themes/t-datepicker-main.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Search</h6>
   </div>
   <div class="card-body">
      <form action="/" method="POST" id="flight_search_first">
         <div class="form-group row">
            <div class="col-sm-4">
               <label for="origin_airport">origin_airport (IATA Code)</label>
               <input list="countries_origin_airport" placeholder="Start typing..." id="origin_airport"
                  name="origin_airport" class="custom-select" value="{{data_form['origin_airport']}}">
               <datalist id="countries_origin_airport">
                  {% for des in origin_airport %}
                  <option id="{{des.id}}" data-value="{{des.iata_code}}">{{des.name}} | {{des.iata_code}}</option>
                  {% endfor %}
               </datalist>
            </div>
            <div class="col-sm-4">
               <label for="destination_airport">destination_airport (IATA Code)<span class='bi bi-asterisk' style='color: red'></span></label>
               <input list="europe-countries" placeholder="Start typing..." id="destination_airport"
                  name="destination_airport" class="custom-select required" value="{{data_form['destination_airport']}}">
               <datalist id="europe-countries">
                  {% for des1 in destination_airport %}
                  <option id="{{des1.id}}" data-value="{{des1.iata_code}}">{{des1.name}} | {{des1.iata_code}}</option>
                  {% endfor %}
               </datalist>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
               <label for="max_price">max_price</label>
               <input type="number" class="form-control form-control-user" id="max_price"
               name="max_price" placeholder="max_price"
               {% if data_form['max_price'] %}
               value='{{ data_form["max_price"] }}'
               {% endif %}
               >
            </div>
            <div class="col-sm-1">
               <label for="transfers">transfers</label>
               <select class="form-control" name="transfers" id="transfers">
               <option {% if data_form['transfers'] is defined and data_form['transfers']==0 %} selected {% endif %}>0</option>
               <option {% if data_form['transfers'] is defined and data_form['transfers']==1 %} selected {% endif %}>1</option>
               <option {% if data_form['transfers'] is defined and data_form['transfers']==2 %} selected {% endif %}>2</option>
               <option {% if data_form['transfers'] is defined and data_form['transfers']==3 %} selected {% endif %}>3</option>
               </select>
            </div>
            <div class="col-sm-1">
               <label for="return_transfers">return_transfers</label>
               <select class="form-control" name="return_transfers" id="return_transfers">
               <option {% if data_form['return_transfers'] is defined and data_form['return_transfers']==0 %} selected {% endif %}>0</option>
               <option {% if data_form['return_transfers'] is defined and data_form['return_transfers']==1 %} selected {% endif %}>1</option>
               <option {% if data_form['return_transfers'] is defined and data_form['return_transfers']==2 %} selected {% endif %}>2</option>
               <option {% if data_form['return_transfers'] is defined and data_form['return_transfers']==3 %} selected {% endif %}>3</option>
               </select>
            </div>
            <div class="col-sm-2">
               <label for="min_nights_duration">min_nights_duration</label>
               <select class="form-control" name="min_nights_duration" id="min_nights_duration">
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==1 %} selected {% endif %} >1</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==2 %} selected {% endif %} >2</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==3 %} selected {% endif %} >3</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==4 %} selected {% endif %} >4</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==5 %} selected {% endif %} >5</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==6 %} selected {% endif %} >6</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==7 %} selected {% endif %} >7</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==8 %} selected {% endif %} >8</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==9 %} selected {% endif %} >9</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==10 %} selected {% endif %} >10</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==11 %} selected {% endif %} >11</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==12 %} selected {% endif %} >12</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==13 %} selected {% endif %} >13</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==14 %} selected {% endif %} >14</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==21 %} selected {% endif %} >21</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==30 %} selected {% endif %} >30</option>
               <option {% if data_form['min_nights_duration'] is defined and data_form['min_nights_duration']==60 %} selected {% endif %} >60</option>
               </select>
            </div>
            <div class="col-sm-2">
               <label for="max_nights_duration">max_nights_duration</label>
               <select class="form-control" name="max_nights_duration" id="max_nights_duration">
               <option value="1" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==1 %} selected {% endif %} >1</option>
               <option value="2" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==2 %} selected {% endif %}>2</option>
               <option value="3" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==3 %} selected {% endif %}>3</option>
               <option value="4"{% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==4 %} selected {% endif %}>4</option>
               <option value="5"{% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==5 %} selected {% endif %}>5</option>
               <option value="6"{% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==6 %} selected {% endif %}>6</option>
               <option value="7"{% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==7 %} selected {% endif %}>7</option>
               <option value="8" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==8 %} selected {% endif %}>8</option>
               <option value="9" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==9 %} selected {% endif %}>9</option>
               <option value="10" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==10 %} selected {% endif %}>10</option>
               <option value="11" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==11 %} selected {% endif %}>11</option>
               <option value="12" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==12 %} selected {% endif %}>12</option>
               <option value="13" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==13 %} selected {% endif %}>13</option>
               <option value="14" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==14 %} selected {% endif %}>14</option>
               <option value="21" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==21 %} selected {% endif %}>21</option>
               <option value="30" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==30 %} selected {% endif %}>30</option>
               <option value="60" {% if data_form['max_nights_duration'] is defined and data_form['max_nights_duration']==60 %} selected {% endif %}>60</option>
               </select>
            </div>
            <div class="col-sm-12">
               <p style="padding: 20px 0 0;">Find ALL 'Back and forth' flight between the dates:</p>
            </div>
            <div class="t-datepicker datepicker col-sm-4" id="dates">
               <div class="t-check-in"></div>
               <div class="t-check-out"></div>
         </div>
         <div class="col-sm-2">
            <button class="btn btn-primary" id="submit2" type="submit" aria-expanded="false">Search</button>
         </div>
         <div class="d-none">
            <input type="text" id="store_origin_airport" value="{{ data_form['origin_airport'] }}">
            <input type="text" id="store_destination_airport" value="{{ data_form['destination_airport'] }}">
            <input type="text" id="store_datepicker1_from" value="{{data_form['t_start']}}">
            <input type="text" id="store_datepicker1_to" value="{{data_form['t_end']}}">
         </div>
         </div>
   </form>

</div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <!--<a href="#" title="requested URLs" data-toggle="popover" data-placement="top" data-content="{{req_urls}}">Results</a>-->
      <a href="#" title="requested URLs" data-html="true" data-toggle="popover" data-placement="top" data-content='{{req_urls}}'>Results</a>
      <!--<h6 class="m-0 font-weight-bold text-primary">Results</h6>-->
   </div>
   <div class="col-lg-12">
   </div>
   <div class="card-body">
      <div class="card mb-4 bg-gradient-success ">
         <div class="card-body hidden" style="font-size: 20px; color: #fff;">
            <ul class="list-inline">
               <li class="list-inline-item addedrows"> </li>
               <li class="list-inline-item skipped"></li>
            </ul>
         </div>
      </div>
      <div class="table-responsive">
         <table class="table table-bordered" id="dataTableSearchResult" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>origin_airport</th>
                  <th>destination_airport</th>
                  <th>destination_name</th>
                  <th>departure_date</th>
                  <th>departure_dayoftheweek</th>
                  <th>return_date</th>
                  <th>return_dayoftheweek</th>
                  <th>total_nights</th>
                  <th>Price</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
               </tr>
            </tfoot>
            <tbody></tbody>
         </table>
      </div>
   </div>
</div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock %}
{% block jscript %}
<script src="{{ url_for('static', filename='vendor/date_picker/js/t-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/flight_search.js') }}"></script>
{% endblock %}
