{% extends "base.html" %}
{% block content %}
<!-- DataTales Example -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All CSV files</h6>
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <table class="table table-bordered" id="dataTableCSVFileList" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>Name</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th></th>
               </tr>
            </tfoot>
            <tbody></tbody>
         </table>
      </div>
   </div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary" id="markreadedfile"></h6>
   </div>
   <div class="col-lg-12">
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <table class="table table-bordered" id="dataTableCSVFileInternal" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>origin_airport</th>
                  <th>destination_airport</th>
                  <th>destination_name</th>
                  <th>departure_date</th>
                  <th>departure_dayoftheweek</th>
                  <th>return_date</th>
                  <th>return_dayoftheweek</th>
                  <th>total_nights</th>
                  <th>Price</th>
               </tr>
            </thead>
            <tfoot>
               <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
               </tr>
            </tfoot>
            <tbody></tbody>
         </table>
      </div>
   </div>
</div>

<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
{% endblock %}

{% block modal %}
<!-- The Modal -->
            <div class="modal" id="myModal" style="color: #000;">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <!-- Modal Header -->
                     <div class="modal-header">
                        <h4 class="modal-title">Export CSV</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <!-- Modal body -->
                     <div class="modal-body">
                        <div class="form-group row">
                           <div class="col-sm-12 mb-3 mb-sm-0">
                              <div class="form-check"> <input class="form-check-input" id="over_write_main_file" name="main_file" type="radio" value="" style="margin: 10px 0 0 -20px;">
                                 <label class="form-check-label" for="over_write_main_file" style="font-size: 14px;">Overwrite main CSV file (all_flights.csv)</label>
                              </div>
                              <div class="form-check"> <input class="form-check-input" id="add_to_main_file" name="main_file" type="radio" value="" style="margin: 10px 0 0 -20px;">
                                 <label class="form-check-label" for="add_to_main_file" style="font-size: 14px;">Add to main CSV file (all_flights.csv)</label>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-sm-12 mb-3 mb-sm-0">
                              <input class="form-check-input" id="save_new_file" type="checkbox" value="" style="margin: 10px 0;">
                              <label class="form-check-label" for="save_new_file" style="margin: 0px 0 0px 20px; font-size: 14px;">Save as new CSV file</label>
                           </div>
                           <div class="col-sm-12 mb-3 mb-sm-0">
                              <label for="file_name" style="margin: 10px; 0; font-size: 14px;">New CSV file name:</label>
                              <input type="text" class="form-control form-control-user" id="file_name" placeholder="[current_timestamp]-[number_of_items].csv">
                           </div>
                        </div>
                     </div>
                     <!-- Modal footer -->
                     <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Save now</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
{% endblock %}

{% block jscript %}
    <script src="{{ url_for('static', filename='js/flight_csv_files.js') }}"></script>
{% endblock %}
