<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>SB Admin 2 - Login</title>
      <!-- Custom fonts for this template-->
      <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
      <link
         href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
   </head>
   <body class="bg-gradient-primary">
      <div class="container">
         <!-- Outer Row -->
         <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
               <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                     <!-- Nested Row within Card Body -->
                     <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                           <div class="p-5">
                              <div class="text-center">
                                 <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                              </div>

                              <form class="user" method="POST">
                                 <div class="form-group">
                                    <input type="text" class="form-control form-control-user"
                                       id="exampleInputEmail" aria-describedby="emailHelp"
                                           name = 'email'
                                       placeholder="Enter Email Address...">
                                 </div>
                                 <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                           name = 'password'
                                       id="exampleInputPassword" placeholder="Password">
                                 </div>
                                 <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                       <input type="checkbox" class="custom-control-input" name='remember' id="customCheck">
                                       <label class="custom-control-label" for="customCheck">Remember
                                       Me</label>
                                    </div>
                                 </div>
                                 <button class="btn btn-primary btn-user btn-block" type="submit">
                                 Login
                                 </button>
                              </form>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                               {% for category, message in messages %}
                               <div class="alert alert-danger" role="alert">
                                  {{ message }}
                                </div>
                               {% endfor %}
                              {% endif %}
                            {% endwith %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript-->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      <!-- Core plugin JavaScript-->
      <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
      <!-- Custom scripts for all pages-->
      <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
   </body>
</html>
