{% extends "base.html" %}
{% block content %}
<div class="card shadow mb-4">
     <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Results</h6>
   </div>
   <div class="col-lg-12">
   </div>
   <div class="card-body">
      <div class="table-responsive">

         <table class="table table-bordered" id="dataTableTasks" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>name</th>
                  <th>alg</th>
                  <th>auto</th>
                  <th>dt_start</th>
                  <th>dt_end</th>
                  <th>percentage</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
               </tr>
            </tbody>

         </table>

      </div>
   </div>
   </div>

{% endblock %}

{% block jscript %}
<script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
{% endblock %}
