{% extends "base.html" %}
{% block content %}
<div class="card shadow mb-4">
     <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Days</h6>
     </div>
    <div class="card-body">
      <div class="form-group row">
         {% for day in days %}
             <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="{{ day.id }}" value="{{ day.name }}" disabled style="margin-bottom: 10px;">
             </div>
             <div class="col-sm-2">
                <input type="text" class="form-control form-control-user" id="{{ day.id }}_heb" value="{{ day.hebr_day }}" style="margin-bottom: 10px;">
             </div>

          {% endfor %}
          <div class="col-sm-12">
                <button class="btn btn-primary" style="margin-top: 31px;" id="submit" type="button" aria-expanded="false">Save</button>
             </div>
      </div>
   </div>

{% endblock %}
